{% comment %}
PLANTILLA DE BARRA LATERAL

Se detalla la barra lateral de la aplicación.

Autor: CArlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}
<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'Inicio' %}" class="brand-link ">
    <img src="{% static 'ContraCNO.png' %}" alt="Identifícate logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Contra<b>CNO</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	<li class="nav-item menu-open">
	  <a class="nav-link" href="#">
	    <i class="nav-icon fas fa-users text-orange"></i>
	    <p class="font-weight-bold">
	      Equipo
	    </p>
	  </a>
	  <ul class="nav nav-treeview">
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'Equipo:Sedes' %}">
		<i class="fas fa-map-marker-alt nav-icon"></i>
		<p>Sedes</p>
	      </a>
	    </li>
	  </ul>
	</li>
	<li class="nav-item menu-open">
	  <a href="#" class="nav-link">
	    <i class="nav-icon fas fa-address-card text-orange"></i>
	    <p class="font-weight-bold">
	      Entrega DNI
	    </p>
	  </a>
	  <ul class="nav nav-treeview">
	    <li class="nav-item">
	      <a href="{% url 'Entrega:Centros' %}" class="nav-link">
		<i class="fas fa-building nav-icon"></i>
		<p>Centros</p>
	      </a>
	    </li>
	    <li class="nav-item">
	      <a href="{% url 'Entrega:Cajas' %}" class="nav-link">
		<i class="fas fa-archive nav-icon"></i>
		<p>Cajas</p>
	      </a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'Entrega:Entregas' %}">
		<i class="fas fa-envelope nav-icon"></i>
		<p>Entregas</p>
	      </a>
	    </li>
	  </ul>
	</li>
	<li class="nav-item menu-open">
	  <a class="nav-link" href="{% url 'Enrolamiento:Enrolamientos' %}">
	    <i class="nav-icon fas fa-camera text-orange"></i>
	    <p class="font-weight-bold">
	      Enrolamientos
	    </p>
	  </a>
	</li>
	<li class="nav-item menu-open ">
	  <a class="nav-link" href="#">
	    <i class="fas fa-file nav-icon text-orange"></i>
	      <p class="font-weight-bold">Informes</p>
	  </a>
	  <ul class="nav-treeview">
	  </ul>
	</li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
