{% comment %}
PLANTILLA BASE
Se detalla la estructuar base HTML5 de la aplicación.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <title>{% block 'Titulo' %}Inicio{% endblock %} | ContraCNO</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ContraCNO.png' %}">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}">
  {% block 'OtrosEstilos' %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini dark-mode layout-fixed layout-navbar-fixed">
  <div class="wrapper">

    {# BARRA DE NAVEGACIÓN #}
    {% include 'nav.html' %}

    {# BARRA LATERAL #}
    {% include 'aside.html' %}

    {# CONTENIDO #}
    <main class="content-wrapper">
      <div class="content-header">
	<div class="container-fluid">
	  <div class="row mb-2">
	    <div class="col-sm-6">
	      <h1 class="m-0">{% block 'TituloContenido' %}{% endblock %}</h1>
	    </div>
	  </div>
	</div>
      </div>
      <div class="content">
	<div class="container-fluid">
	  {% block 'Contenido' %}{% endblock %}
	</div>
      </div>
      {% block 'Modales' %}{% endblock %}
    </main>

    {# PIE DE PÁGINA #}
    {% include 'footer.html' %}
  </div>

  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/js/adminlte.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>

  <script>
    $(document).ready(function () {
        // INICIALIZANDO TOOLTIPS
        $('[data-toggle="tooltip"]').tooltip();
    });
    // SOPORTE DE MENSAJES DEL BACKEND
    {% if messages %}
    {% for mensaje in messages %}
    let titulo_{{ mensaje.tags }};

    {% if mensaje.tags == 'error' %}
    titulo_{{ mensaje.tags }} = 'Error';
    {% elif mensaje.tags == 'success' %}
    titulo_{{ mensaje.tags }} = 'Éxito';
    {% elif mensaje.tags == 'info' %}
    titulo_{{ mensaje.tags }} = 'Información';
    {% elif mensaje.tags == 'warning' %}
    titulo_{{ mensaje.tags }} = '¡Cuidado!';
    {% endif %}

    Swal.fire({
      title: titulo_{{ mensaje.tags }},
      icon: '{{ mensaje.tags }}',
      text: '{{ mensaje }}'
    })
    {% endfor %}
    {% endif %}

    $.ajax({
      url: "/entrega/actual",
      success(data) {
	datos = JSON.parse(data)
	if (datos[0] > 0)
	  $('a>span.badge-success').text(datos[0]);
	if (datos[1] > 0)
	  $('a>span.badge-danger').text(datos[1]);
	if (datos[2] > 0)
	  $('a>span.badge-warning').text(datos[2]);
      }
    });
  </script>
  {% block 'OtrosGuiones' %}{% endblock %}
</body>
</html>
