{% extends 'base.html' %}

{% comment %}
PLANTILLA DE ELIMINACIÓN BASE

Esta plantilla muestra el diseño base de un formulario de eliminación.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Contenido' %}
<div class="row">
    <div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="card card-outline card-orange">
			<div class="card-body text-center">
                <form id="FormEliminar" action="" method="POST">
                    {% csrf_token %}
                    <p class="text-xl font-weight-bold">¿Desea eliminar {% block 'Mensaje' %}{% endblock %}?</p>
                    <p>
                        <span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                        {% block 'Advertencia' %}{% endblock %}
                    </p>
                </form>
			</div>
			<div class="card-footer">
                <button class="btn btn-block btn-success" type="submit" form="FormEliminar">Eliminar</button>
                <a href="{% block 'Cancelar' %}{% endblock %}" class="btn btn-block btn-danger">Cancelar</a>
            </div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}
{% block 'OtrosGuiones' %}
{% include 'overlay-card.html' %}
{% endblock %}
