{% comment %}
PLANTILLA DE ESCANER

Contiene el modal que utiliza el escaner QR.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

<div id="escaner" class="modal fade">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
                <h4 class="modal-title">Escanear sobre</h4>
                <button class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
                <div class="callout callout-info">
                	<h5>
                        <i class="fas fa-bullhorn"></i>
                        <small>Escanee el código QR del sobre</small>
                    </h5>
                </div>
                <div id="area-escaner" class="img-fluid"></div>
			</div>
			<div class="modal-footer">
                <button class="btn btn-block btn-danger" data-dismiss="modal">Cerrar escaner</button>
			</div>
		</div>
	</div>
</div>
