{% comment 'PLANTILLA DE PIE DE PÁGINA' %}

Se muestra el pie de página de la aplicación.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Versión 1.0
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2021 <a href="mailto:carlos.rivera.munoz@disr.it">Carlos Eduardo Rivera</a>.</strong> Todos los derechos reservados.
</footer>
