{% comment 'PLANTILLA DE BARRA DE NAVEGACIÓN" %}
Se detallan los objetos que pertenecen a la barra de navegación.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}

<nav class="main-header navbar navbar-expand navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'Inicio' %}" class="nav-link">Inicio</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="{% url 'Entrega:CrearEntrega' %}" class="nav-link">
	<i class="fas fa-envelope"></i>
	<span class="badge badge-success navbar-badge"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Enrolamiento:CrearEnrol' %}"><i class="fas fa-camera"></i><span class="badge badge-danger navbar-badge"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Entrega:CrearEntregaEscaner' %}"><i class="far fa-envelope"></i>
	<span class="badge badge-warning navbar-badge"></span>
      </a>
    </li>
    <li class="nav-item dropdown user-menu">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
	<img src="{% static 'adminlte/img/profile.png' %}" class="user-image img-circle elevation-2" alt="User Image">
	<span class="d-none d-md-inline">{{ user.colaborador.nombre }}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
	<!-- User image -->
	<li class="user-header bg-orange">
	  <img src="{% static 'adminlte/img/profile.png' %}" class="img-circle elevation-2" alt="User Image">

	  <p>
	    {{ user.colaborador.nombre }} {{user.colaborador.apellido }}
	    <small>{{ user.username }}</small>
	  </p>
	</li>
	<!-- Menu Footer-->
	<li class="user-footer text-center">
	  <a href="{% url 'Cierre' %}" class="btn btn-danger btn-flat"><i class="fas fa-door-open"></i> Cerrar sesión</a>
	</li>
      </ul>
    </li>
  </ul>
</nav>
