{% comment  %}
PLANTILLA DE PAGINACIÓN

Esta plantilla contiene la lógica de paginación para listas.

Autor: Carlos E. Rivera
Licencia: GPLV3
{% endcomment %}

<nav aria-label="Paginación de lista">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?{% if request.GET.buscar != '' %}buscar={{ request.GET.buscar }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
    {% endif %}

    {% if page_obj.number|add:'-4' > 1 %}
    <li class="page-item"><a class="page-link" href="?{% if request.GET.buscar != '' %}buscar={{ request.GET.buscar }}&{% endif %}page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
	{{ i }}
	<span class="sr-only">(currency)</span>
      </span>
    </li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?{% if request.GET.buscar != '' %}buscar={{ request.GET.buscar }}&{% endif %}page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li class="page-item"><a class="page-link" href="?{% if request.GET.buscar != '' %}buscar={{ request.GET.buscar }}&{% endif %}page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?{% if request.GET.buscar != '' %}buscar={{ request.GET.buscar }}&{% endif %}page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
