{% extends 'base.html' %}

{% comment %}
PLANTILLA DE LISTA DE CAJAS

Esta plantilla muestra un listado de cajas de un equipo.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'TituloContenido' %}Cajas de DNIs{% endblock %}
{% block 'Titulo' %}Cajas{% endblock %}

{% load mathfilters %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-12">
    <div class="card card-outline card-orange">
      <div class="card-header">
        <h3 class="card-title text-lg">Lista de cajas</h3>
        <div class="card-tools d-flex">
          <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Entrega:CrearCaja' %}"><i class="fas fa-archive"></i><i class="fas fa-plus text-sm"></i></a>
          <a class="btn btn-tool btn-sm text-danger d-flex mt-1" href="{% url 'Entrega:InventarioCaja' %}"><i class="fas fa-archive"></i><i class="fas fa-times text-sm"></i></a>
          <form class="input-group input-group-sm" action="">
	    <input type="text" name="buscar" placeholder="Buscar..." class="form-control" value="{{ request.GET.buscar }}">
	    <div class="input-group-append">
	      <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
	    </div>
	  </form>
        </div>
      </div>
      <div class="card-body table-responsive">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Código</th>
	      <th>Centro</th>
	      <th>Inicio</th>
	      <th>Entregadas</th>
	      <th>Final</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for caja in page_obj %}
	    <tr>
	      <td>{{ caja.codigo }}</td>
	      <td>{{ caja.centro.nombre }}</td>
	      <td>{{ caja.cantidad }}</td>
	      <td>{{ caja.entregados }}</td>
	      <td>{{ caja.cantidad | sub:caja.entregados}}</td>
	      <td>
           <a class="btn btn-sm btn-primary" href="{% url 'Entrega:VerCaja' caja.pk %}"><i class="fas fa-eye"></i></a>
	      {% if user.is_staff or user.colaborador.es_supervisor %}
		<a class="btn btn-sm btn-secondary" href="{% url 'Entrega:EditarCaja' caja.pk %}"><i class="fas fa-edit text-sm"></i></a>
		<a class="btn btn-sm btn-danger" href="{% url 'Entrega:EliminarCaja' caja.pk %}"><i class="fas fa-trash"></i></a>
           {% endif %}
	      </td>
	    </tr>
	    {% empty %}
	    <div class="alert alert-info">
	      <h5><i class="fa fa-exclamation-triangle"></i> No hay cajas registradas</h5>
	      <p>No se encuentran cajas registradas en el sistema</p>
	    </div>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <div class="card-footer">
        {% include 'paginacion.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
