{% extends 'base.html' %}

{% block 'TituloContenido' %}Centros de entrega{% endblock %}
{% block 'Titulo' %}Centros de entrega{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-12">
    <div class="card card-outline card-orange">
      <div class="card-header">
        <h3 class="card-title text-lg">Lista de centros</h3>
        <div class="card-tools d-flex">
        <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Entrega:CrearCentro' %}"><i class="fas fa-building"></i><i class="fas fa-plus text-sm"></i></a>
	  <form class="input-group input-group-sm" action=""> 
	    <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
	    <div class="input-group-append"><button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button></div>
	  </form>
	</div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
	    <tr>
	      <th>Nombre</th>
	      <th>Cajas</th>
	      <th>Sobres entregados</th>
	    </tr>
	  </thead>
          <tbody>
	    {% for centro in page_obj %}
	    <tr>
	      <td>{{ centro.nombre }}</td>
	      <td>{{ centro.cajas.count }}</td>
	      <td>{{ centro.total_sobres }}</td>
	      <td class="text-center">
            <a class="btn btn-primary text-sm btn-sm" data-toggle="tooltip" title="Ver las cajas de este centro" href="{% url 'Entrega:Cajas' %}?buscar={{ centro.nombre  | iriencode }}"><i class="fas fa-archive"></i></a>
            {% if user.is_staff or user.colaborador.es_supervisor %}
            <a class="btn btn-secondary text-sm btn-sm" href="{% url 'Entrega:EditarCentro' centro.pk %}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger btn-sm text-sm" href="{% url 'Entrega:EliminarCentro' centro.pk %}"><i class="fas fa-trash"></i></a>
            {% endif %}
           </td>
	      {% empty %}
	      <div class="alert alert-info">
	        <h5>
	          <i class="fas fa-exclamation-triangle"></i>
                No hay centros de entrega en el sistema
	        </h5>
	        <p>Todavía no se registran centros de entrega en el sistema</p>
	      </div>
	      {% endfor %}
	    </tr>
	  </tbody>
    </table>
    </div>
    <div class="card-footer">{% include 'paginacion.html' %}</div>
    </div>
  </div>
</div>
{% endblock %}
