{% extends 'base.html' %}
{% load staticfiles %}

{% comment %}
PLANTILLA DE FORMULARIO DE CAJAS

Esta plantilla muestra un formulario para la edición de cajas.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Titulo' %}Registrar Caja{% endblock %}
{% block 'TituloContenido' %}Registrar caja de DNI's{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="card card-outline card-orange">
      <div class="card-header">
        <h3 class="card-title">Registro de caja</h3>
      </div>
      <div class="card-body">
	<form id="FormCaja" action="" enctype="multipart/data-form" method="POST">
	  {% csrf_token %}
	  <div class="form-group">
        <div class="input-group">
        	<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-archive"></i></span></div>
            {{ form.codigo }}
            <div class="input-group-append"><button data-toggle="modal" data-target="#escaner" class="btn btn-primary" type="button"><i class="fas fa-qrcode"></i></button></div>
        </div>
	    {% if form.errors.codigo %}<span class="text-sm text-danger">{{ form.errors.codigo }}</span>{% endif %}
	  </div>
	  <div class="form-group">
        <div class="input-group">
        	<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-building"></i></span></div>
            {{ form.centro }}
        </div>
	    {% if form.errors.centro %}<span class="text-sm text-danger">{{ form.errors.centro }}</span>{% endif %}
	  </div>
	  {% if form.sobres %}
	  <div class="form-group">
        <label>Sobres:</label><a href="#" data-toggle="modal" data-target="#escaner" class="btn btn-sm btn-tool"><i class="fas fa-envelope"></i><i class="fas fa-plus text-sm"></i></a>
        {{ form.sobres }}
	    {% if form.errors.sobres %}<span class="text-sm text-danger">{{ form.errors.sobres }}</span>{% endif %}
	  </div>
	  {% endif %}
	</form>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-block" type="submit" form="FormCaja">Registrar</button>
        <a class="btn btn-block btn-danger" href="{% url 'Entrega:Cajas' %}">Cancelar</a>
       </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% include 'escaner.html' %}
{% endblock %}
{% block 'OtrosGuiones' %}
<script src="{% static 'plugins/html5-qrcode/html5-qrcode.min.js' %}"></script>
<script src="{% static 'escaner.js' %}"></script>
<script src="{% static 'editar-caja.js' %}"></script>
{% include 'overlay-card.html' %}
{% endblock %}
