{% extends 'base.html' %}

{% comment %}
PLANTILLA DE CREACIÓN DE SOBRE

Esta plantilla contiene el formulario para la creación de sobres a partir
de un escaner QR.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}

{% block 'Titulo' %}Crear sobre{% endblock %}
{% block 'TituloContenido' %}Escanear sobre{% endblock %}

{% block 'Contenido' %}
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
        <div class="card card-outline card-orange">
            <div class="card-header">
                <h3 class="card-title">Datos del sobre</h3>
                <div class="card-tools">
                    <a href="#" data-target="#escaner" data-toggle="modal" class="btn btn-sm btn-tool"><i class="fas fa-qrcode"></i> 
                        Escanear
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="POST" id="FormSobre">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                        	<div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-archive"></i></span>
                            </div>
                        	{{ form.caja }}
                        </div>
                        {% if form.caja.errors %}<span class="text-sm text-danger">{{ form.caja.errors }}</span>{% endif %}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        	<div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{ form.sobre }}
                        </div>
                        {% if form.sobre.errors %}<span class="text-sm text-danger">{{ form.sobre.errors }}</span>{% endif %}
                    </div>
                    {% block 'FormUsuario' %}{% endblock %}
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-success" type="submit" form="FormSobre">Registrar</button>
                <a class="btn btn-danger btn-block" href="{% url 'Entrega:Entregas' %}">Cancelar</a>
            </div>
        </div>
	</div>
	<div class="col-sm-2"></div>
</div>
{% include 'escaner.html' %}
{% endblock %}
{% block 'OtrosGuiones' %}
<script src="{% static 'plugins/html5-qrcode/html5-qrcode.min.js' %}"></script>
<script src="{% static 'escaner.js' %}"></script>
<script src="{% static 'editar-sobre.js' %}"></script>
{% if not form.errors %}<script>$('#escaner').modal('show');</script>{% endif %}
{% if form.errors %}
{% include 'error-formulario.html' %}
{% endif %}
{% include 'overlay-card.html' %}
{% endblock %}
