{% extends 'crear-sobre.html' %}

{% comment %}
PLANTILLA DE ESCANER DE SOBRE PARA OTRO ENROLADOR

Se genera un formulario para escanear sobres de otro enrolador.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'FormUsuario' %}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
        {{ form.enrolador_entrega }}
    </div>
    {% if form.errors.enrolador_entrega %} <span class="text-sm text-danger">{{ form.enrolador_entrega.errors }}</span>{% endif %}
</div>
{% endblock %}
