{% extends 'base.html' %}

{% comment %}
PLANTILLA DE LISTA DE SOBRES

Muestra un listado de sobres entregados, propios si es enrolador y de otros si es supervisor.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Titulo' %}Sobres{% endblock %}
{% block 'TituloContenido' %}Sobres{% endblock %}

{% block 'Contenido' %}
<div class="row">
	<div class="col-sm-12">
		<div class="card card-outline card-orange">
            <div class="card-header">
                <h3 class="card-title text-lg">Lista de sobres</h3>
                <div class="card-tools d-flex">
                    <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Entrega:CrearEntrega' %}"><i class="fas fa-envelope"></i><i class="fas fa-plus text-sm"></i></a>
                    <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Entrega:CrearEntregaEscaner' %}"><i class="far fa-envelope"></i><i class="fas fa-plus text-sm"></i></a>
                    
                    <form class="input-group input-group-sm" action=""> 
                        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                        <div class="input-group-append"><button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button></div>
                    </form>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                	<thead>
                        <th>Caja</th>
                        <th>Sobre</th>
                        <th>Fecha</th>
                        {% if user.colaborador.es_supervisor %}
                        <th>Enrolador</th>
                        {% endif %}
                	</thead>
                	<tbody>
                        {% for entrega in page_obj %}
                        <tr>
                        	<td>{{ entrega.sobre.caja.codigo }}</td>
                        	<td>{{ entrega.sobre.codigo }}</td>
                        	<td>{{ entrega.fecha_entrega }} a las {{ entrega.hora_entrega | date:'h:i A'}}</td>
                        	{% if user.colaborador.es_superusuario %}
                        	<td>{{ entrega.enrolador_entrega }}</td>
                        	{% endif %}
                        	<td class="text-center">
                                <a href="{% url 'Entrega:EliminarEntrega' entrega.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                        	</td>
                        	
                        </tr>
                        {% empty %}
                        <div class="alert alert-info">
                        	<h3>
                        		<i class="fas fa-exclamation-triangle"></i>
                        		No existen registros
                        	</h3>
                        		<p>Al parecer no hay registros{% if request.GET.buscar %} de «{{ request.GET.buscar}}»{% endif %} en el sistema</p>
                        </div>
                        {% endfor %}
                	</tbody>
                </table>
            </div>
            <div class="card-footer">
                {% include 'paginacion.html' %}
            </div>
		</div>
	</div>
</div>
{% endblock %}
