{% extends 'base.html' %}

{% comment %}
PLANTILLA DE VER CAJA

Esta plantilla visualiza los sobres que hay en una caja, además de las acciones
de inventario para esta caja.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Titulo' %}Caja {{ object.codigo }}{% endblock %}
{% block 'TituloContenido' %}Caja {{ object.codigo }} <small>del centro {{ object.centro.nombre }}</small>{% endblock %}

{% block 'Contenido' %}
<div class="row">
	<div class="col-sm-12">
		<div class="card card-outline card-orange">
            <div class="card-header">
                <h3 class="card-title text-lg">Lista de sobres</h3>
                <div class="card-tools d-flex">
                    <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Entrega:CrearSobre' %}"><i class="fas fa-envelope"></i><i class="fas fa-plus text-sm"></i></a>
                    
                    <form class="input-group input-group-sm" action=""> 
                        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                        <div class="input-group-append"><button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button></div>
                    </form>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                	<thead>
                        <th>Sobre</th>
                        <th>Estado</th>
                        {% if user.colaborador.es_supervisor %}
                        <th>Enrolador</th>
                        {% endif %}
                	</thead>
                	<tbody>
                        {% for sobre in page_obj %}
                        <tr>
                        	<td>{{ sobre.codigo }}</td>
                        	<td>
                                {% if sobre.entregado %}
                                <span class="badge badge-success">Entregado</span>
                                {% else %}
                                <span class="badge badge-danger">No entregado</span>
                                {% endif %}
                        	</td>
                        	{% if user.colaborador.es_superusuario %}
                        	<td>{{ sobre.enrolador_entrega }}</td>
                        	{% endif %}
                        	<td class="text-center">
                                {% if user.colaborador.es_supervisor or user.is_staff %}
                                <a href="{% url 'Entrega:EliminarSobre' sobre.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                {% endif %}
                        	</td>
                        	
                        </tr>
                        {% empty %}
                        <div class="alert alert-info">
                        	<h3>
                        		<i class="fas fa-exclamation-triangle"></i>
                        		No existen registros
                        	</h3>
                        		<p>Al parecer no hay registros{% if request.GET.buscar %} de «{{ request.GET.buscar}}»{% endif %} en el sistema</p>
                        </div>
                        {% endfor %}
                	</tbody>
                </table>
            </div>
            <div class="card-footer">
                {% include 'paginacion.html' %}
            </div>
		</div>
	</div>
</div>
{% endblock %}
