{% extends 'base.html' %}

{% comment %}
PLANTILLA DE CREAR ENROLAMIENTO

Muestra el formulario para crear un enrolamiento además de habilitar el escaner para este.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}
{% block 'Titulo' %}Escaner recibo{% endblock %}
{% block 'TituloContenido' %}Escanear recibo{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card card-outline card-orange">
      <div class="card-header">
	<h3>Registrar datos de enrolamiento</h3>
      </div>
      <div class="card-body">
	<form id="FormSobre" action="" enctype="multipart/data-form" method="POST">
	{% csrf_token %}
	<div class="form-group">
        <div class="input-group">
        	<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-camera"></i></span></div>
            {{ form.cantidad_enrol }}
        </div>
	    {% if form.errors.cantidad %}<span class="text-sm text-danger">{{ form.errors.cantidad_enrol }}</span>{% endif %}
	</div>
	<div class="form-group">
        <div class="input-group">
        	<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-home"></i></span></div>
            {{ form.cantidad_actua }}
        </div>
	    {% if form.errors.cantidad %}<span class="text-sm text-danger">{{ form.errors.cantidad_actua }}</span>{% endif %}
	</div>
	</form>
      </div>
      <div class="card-footer">
	<button class="btn btn-success btn-block" type="submit" form="FormSobre">Registrar</button>
	<a href="{% url 'Enrolamiento:Enrolamientos' %}" class="btn btn-danger btn-block">Cancelar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% include 'escaner.html' %}
{% endblock %}
{% block 'OtrosGuiones' %}
<script src="{% static 'plugins/html5-qrcode/html5-qrcode.min.js' %}"></script>
<script src="{% static 'escaner.js' %}"></script>
<script src="{% static 'editar-enrol.js' %}"></script>
{% if form.errors %}
{% include 'error-formulario.html' %}
{% endif %}
{% include 'overlay-card.html' %}
{% endblock %}
