{% extends 'base.html' %}

{% comment %}
PLANTILLA DE LISTA DE ENROLAMIENTOS

Esta plantilla muestra un cuadro de enrolamientos hechos por día y sede.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}
{% block 'TituloContenido' %}Enrolamientos{% endblock %}
{% block 'Titulo' %}Enrolamientos{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-12">
    <div class="card card-outline card-orange">
      <div class="card-header">
        <h3 class="card-title text-lg">Lista de enrolamientos</h3>
        <div class="card-tools d-flex">
        <a class="btn btn-tool btn-sm d-flex mt-1" href="{% url 'Enrolamiento:CrearEnrol' %}"><i class="fas fa-camera"></i><i class="fas fa-plus text-sm"></i></a>
	  <form class="input-group input-group-sm" action=""> 
	    <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
	    <div class="input-group-append"><button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button></div>
	  </form>
	</div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
	    <tr>
	      <th>Fecha</th>
	      {% if user.colaborador.es_supervisor %}
	      <th>Unidad</th>
	      {% endif %}
	      <th>Enrolados</th>
	      <th>Actualizaciones</th>
	    </tr>
	  </thead>
          <tbody>
	    {% for enrol in page_obj %}
	    <tr>
	      <td>{{ enrol.sede.fecha }}</td>
	      {% if user.colaborador.es_supervisor %}
	      <td>{{ enrol.unidad.nombre }}</td>
	      {% endif %}
	      <td>{{ enrol.cantidad_enrol }}</td>
	      <td>{{ enrol.cantidad_actua }}</td>
	      <td class="text-center">
            <a class="btn btn-secondary text-sm btn-sm" href="{% url 'Enrolamiento:EditarEnrol' enrol.pk %}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger btn-sm text-sm" href="{% url 'Enrolamiento:EliminarEnrol' enrol.pk %}"><i class="fas fa-trash"></i></a>
           </td>
	      {% empty %}
	      <div class="alert alert-info">
	        <h5>
	          <i class="fas fa-exclamation-triangle"></i>
	          No hay enrolamientos
	        </h5>
	        <p>Todavía no se registran enrolamientos en el sistema</p>
	      </div>
	      {% endfor %}
	    </tr>
	  </tbody>
    </table>
    </div>
    <div class="card-footer">{% include 'paginacion.html' %}</div>
    </div>
  </div>
</div>
{% endblock %}
