{% extends 'base.html' %}

{% comment 'PLANTILLA DE CREAR SEDE' %}

Esta plantilla contiene un formulario para crear una sede en el sistema.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% load staticfiles %}

{% block 'Titulo'%}Crear sede{% endblock %}
{% block 'TituloContenido' %}Registrar nueva sede{% endblock %}

{% block 'Contenido' %}
<div class="card card-solid p-0">
  <div class="card-body">
    <form id="FormSede" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
	<div class="col-sm-6">
	  <div class="card card-outline card-orange">
	    <div class="card-header">
	      <h3 class="text-lg card-title">Ubicación de la sede</h3>
	    </div>
	    <div class="card-body">
	      <div class="form-group">
	        <div class="input-group">
	          <div class="input-group-prepend">
	            <span class="input-group-text">
                    {% if object and object.es_domiciliaria %}
                    <i class="fas fa-home"></i>
                    {% else %}
                    <i class="fas fa-building"></i>
                    {% endif %}
	            </span>
	          </div>
		  {{ form.nombre }}
	        </div>
		{% if form.nombre.errors %}<span class="text-sm text-danger">{{ form.nombre.errors}}</span>{% endif %}
	      </div>
	      <div class="form-group">
	        <div class="input-group">
	          <div class="input-group-prepend">
	            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
	          </div>
		  {{ form.lugar }}
	        </div>
		{% if form.lugar.errors %}<span class="text-sm text-danger">{{ form.lugar.errors}}</span>{% endif %}
	      </div>
	    </div>
	  </div>
	  <div class="card card-outline card-orange">
	    <div class="card-header">
	      <h3 class="card-title text-lg">Horarios</h3>
	    </div>
	    <div class="card-body">
	      <div class="form-group">
		<div class="input-group date" id="fecha" data-target-input="nearest">
		  {{ form.fecha }}
		  <div class="input-group-append" data-target="#fecha" data-toggle="datetimepicker">
		    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
		  </div>
		</div>
		{% if form.fecha.errors %}<span class="text-sm text-danger">{{ form.fecha.errors}}</span>{% endif %}
	      </div>
	      <div class="form-group">
	        <div id="hora_inicio" class="input-group date" data-target-input="nearest">
		  {{ form.hora_inicio }}
	          <div class="input-group-append" data-target="#hora_inicio" data-toggle="datetimepicker">
	            <span class="input-group-text"><i class="fas fa-clock"></i></span>
	          </div>
	        </div>
	      </div>
	      <div class="form-group">
	        <div id="hora_final" class="input-group date" data-target-input="nearest">
		  {{ form.hora_final }}
	          <div class="input-group-append" data-target="#hora_final" data-toggle="datetimepicker">
	            <span class="input-group-text"><i class="fas fa-clock"></i></span>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="card card-outline card-orange">
	    <div class="card-header">
	      <h3 class="card-title text-lg">Personal</h3>
	    </div>
	    <div class="card-body">
	      <div class="form-group">
		<label for="id_{{ form.enroladores.label | lower }}">{{ form.enroladores.label }}</label>
		{{ form.enroladores }}
		{% if form.enroladores.errors %}<span class="text-sm text-danger">{{ form.enroladores.errors}}</span>{% endif %}
	      </div>
	      <div class="form-group">
		<label for="id_{{ form.entregadores.label | lower }}">{{ form.entregadores.label }}</label>
		{{ form.entregadores }}
		{% if form.entregadores.errors %}<span class="text-sm text-danger">{{ form.entregadores.errors}}</span>{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-block btn-success" form='FormSede'>Registrar</button>
    <a class="btn btn-block btn-danger" href="{% url 'Equipo:Sedes' %}">Cancelar</a>
  </div>
</div>
{% endblock %}
{% block 'OtrosEstilos' %}
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock %}
{% block 'OtrosGuiones' %}
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script>
  {% if not object %}
  $(document).ready(function() {
    $('#id_entregadores>option').prop('selected', true);
  });
  {% endif %}

  $('#fecha').datetimepicker({
    format: 'DD/MM/yyyy'
  });

  $('#hora_inicio').datetimepicker({
    format: 'LT'
  });

  $('#hora_final').datetimepicker({
    format: 'LT'
  });
  
  $('form').submit(function() {
    const overlay = '<div class="overlay dark"><i class="fas fa-sync fa-spin"></i></div>';
    $('div.card.card-solid').append(overlay);
  });
</script>
{% if form.errors %}
{% include 'error-formulario.html' %}
{% endif %}
{% endblock %}
