{% extends 'base.html' %}

{% comment  %}
PLANTILLA DE LISTA DE SEDES

Esta plantilla muestra la lista de sedes del equipo.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Titulo' %}Sedes{% endblock %}
{% block 'TituloContenido' %}Sedes{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="card col-sm-12 card-outline card-orange">
    <div class="card-header">
      <h3 class="card-title text-lg">Línea de tiempo</h3>

      <div class="card-tools">
	{% if user.es_supervisor or user.is_staff %}
	<a class="btn btn-tool btn-sm" href="{% url 'Equipo:CrearSede' %}">
	  <i class="fas fa-building"></i><i class="fas fa-plus text-sm"></i>
	</a>
	<a class="btn btn-tool btn-sm" href="{% url 'Equipo:CrearDomiciliaria' %}">
	  <i class="fas fa-home"></i><i class="fas fa-plus text-sm"></i>
	</a>
	{% endif %}
	{# TODO: Crear formulario de búsqueda #}
      </div>
    </div>
    {% if page_obj %}
    <div class="card-body">
      <div class="timeline">
          {% regroup page_obj by fecha as sedes_list %}
          {% for sedes in sedes_list %}
          <div class="time-label">
              <span class="bg-green">{{ sedes.grouper }}</span>
          </div>
          {% for sede in sedes.list %}
          <div>
	      {% if sede.es_domiciliaria %}
	      <i class="fas fa-home bg-warning"></i>
	      {% else %}
              <i class="fas fa-building bg-primary"></i>
	      {% endif %}
              <div class="timeline-item">
                  <h3 class="timeline-header"><span class="font-weigth-bold"><a class="text-white" href="#">{{ sede.nombre }} de {{ sede.lugar }}</a></h3>
                  <div class="timeline-body">
                    <p><b><i class="fas fa-envelope text-success"></i> Total Entregados:</b> {{ sede.total_entregadas }}</p>
                    <p><b><i class="fas fa-camera text-danger"></i> Total enrolados:</b> {{ sede.total_enrolados }}</p>
                    <p><b><i class="fas fa-home text-warning"></i> Total actualizados:</b> {{ sede.total_actualizados}}</p>
                  </div>
                  <div class="timeline-footer text-center justify-content-center">
                      <a class="btn btn-text btn-sm btn-primary" href="{% url 'Equipo:VerSede' sede.pk %}"><i class="fas fa-eye"></i>
                        <span class="d-none d-lg-inline">Visualizar</span>
                      </a>
                      {% if user.integrante.es_supervisor or user.is_staff %}
                      <a class="btn btn-text btn-sm btn-secondary" href="{% if sede.es_domiciliaria %}{% url 'Equipo:EditarDomiciliaria' sede.pk %}{% else %}{% url 'Equipo:EditarSede' sede.pk %}{% endif %}"><i class="fas fa-edit"></i>
                        <span class="d-none d-lg-inline">Editar</span>
                      </a>
                      <a class="btn btn-text btn-sm btn-danger" href="{% url 'Equipo:EliminarSede' sede.pk %}"><i class="fas fa-trash"></i>
                        <span class="d-none d-lg-inline">Eliminar</span>
                      </a>
                      {% endif %}
                  </div>
              </div>
           </div>
          {% endfor %}
	  {% empty %}
          {% endfor %}
          <div><i class="fas fa-calendar"></i></div>
      </div>
    </div>
    <div class="card-footer">
      {% include 'paginacion.html' %}
    </div>
  {% else %}
    <div class="card-body">
    <div class="alert alert-info">
      <h3><i class="fas fa-exclamation-triangle"></i> No hay sedes registradas</h3>
      <p>Al parecer no hay ninguna sede registrada o el término de búsqueda no encontró nada.</p>
    </div></div>
  </div>
  {% endif %}
</div>
{% endblock %}
