{% extends 'base.html' %}

{% comment %}
PLANTILLA DE DETALLE DE SEDE

Visualiza una página detallando todas las actividades en la sede.

Autor: Carlos E. Rivera
Licencia: GPLv3
{% endcomment %}

{% block 'Titulo' %}Sede{% endblock %}
{% block 'TituloContenido' %}{{ object.nombre }} <small>de {{ object.lugar }}</small>{% endblock %}

{% block 'Contenido' %}
<div class="row justify-content-center mb-3">
	<div class="info-box col-md-3 mr-5">
		<span class="info-box-icon  bg-success elevation-1"><i class="fas fa-envelope"></i></span>
		<div class="info-box-content">
            <span class="info-box-text">Entregas DNI</span>
            <span class="info-box-number">{{ object.total_entregadas }}</span>
            <span class="info-box-number">Gran total: {{ gran_total_entrega}}</span>
		</div>
	</div>
	{% if object.total_enrolados != 0 %}
	<div class="info-box col-md-3 mr-5">
		<span class="info-box-icon  bg-danger elevation-1"><i class="fas fa-camera"></i></span>
		<div class="info-box-content">
            <span class="info-box-text">Enrolamientos</span>
            <span class="info-box-number">{{ object.total_enrolados }}</span>
            <span class="info-box-number">Gran total: {{ gran_total_enrol }}</span>
		</div>
	</div>
	{% endif %}
	{% if object.total_actualizados != 0 %}
	<div class="info-box col-md-3 mr-5">
		<span class="info-box-icon  bg-warning elevation-1"><i class="fas fa-home"></i></span>
		<div class="info-box-content">
            <span class="info-box-text">Actualizaciones</span>
            <span class="info-box-number">{{ object.total_actualizados}}</span>
            <span class="info-box-number">Gran total: {{ gran_total_actua }}</span>
		</div>
	</div>
	{% endif %}
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="card card-outline card-orange">
			<div class="card-header">
                <h3 class="card-title">Entregas por enrolador</h3>
			</div>
			<div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Nombre</th>
                        <th>Entregados</th>
                        <th>Escaneados</th>
                    </thead>
                    <tbody>
                        {% for enrolador in enroladores|dictsortreversed:'entregados' %}
                        <tr>
                            <td>{{ enrolador.nombre }} {{ enrolador.apellido }}</td>
                            <td>{{ enrolador.entregados}}</td>
                            <td>{{ enrolador.escaneados}}</td>
                            {% empty %}
                            <div class="alert alert-info">
                                <h5><i class="fas fa-exclamation-triangle"></i> Sin registros</h5>
                                <p class="text-sm">No hay sobres entregados en esta sede</p>
                            </div>
                    	</tr>
                    	{% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
{% endblock %}
